/*
body {
  background: #fff url(../images/background.png) repeat-x scroll center top;
}

h1 {
  height: 40px;
}

#grobal-navigator {
  border-right: solid 20px #000;
  height: 50px;
}

#grobal-navigator li {
  margin: 10px;
  -moz-border-radius: 0 0 10px 10px;
}

.navigation {
  border-right: solid 20px #000;
}

h2 {
  -moz-border-radius: 10px 0 10px 0;
}

.pagetitle {
  -moz-border-radius: 10px 0 0 10px;
}

.noresult {
  border-right: solid 20px #000;
}

.postmetadata {
  border-left: solid 20px #000;
  border-bottom: solid 20px #000;
  -moz-border-radius: 0 10px 0 0;
}

.postmetadata a {
  -moz-border-radius: 5px;
}

.entry-content {
  border-right: solid 20px #000;
}

h3 {
  padding: 10px 0;
}

.entry-content pre {
  width: 700px;
  overflow-x: auto;
}

#respond {
  -moz-border-radius: 10px 0 10px 0;
}

.comment {
  border-left: solid 20px #000;
  border-bottom: solid 20px #000;
}

#footer {
  -moz-border-radius: 10px 0 10px 0;
}
*/
